<ion-tabs #tabs>
  <ion-tab-bar slot="bottom">
      
      <ion-tab-button tab="picturefeed">
        <ion-icon name="images"></ion-icon>
        <ion-label>Pictures</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="videofeed">
        <ion-icon name="videocam"></ion-icon>
        <ion-label>Videos</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="customize">
        <ion-icon name="build"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="uploader">
        <ion-icon name="cloud-upload"></ion-icon>
        <ion-label>Upload Images</ion-label>
      </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
